@warn "import colors vars from your project scss into ColorBlockList, and remove this file";

$clr-pink-dkr: darken(hotpink, 10%);
$clr-pink-dk: darken(hotpink, 5%);
$clr-pink: hotpink;
$clr-pink-lt: lighten(hotpink, 5%);
$clr-pink-ltr: lighten(hotpink, 10%);

$clr-blue-dkr: darken(skyblue, 10%);
$clr-blue-dk: darken(skyblue, 5%);
$clr-blue: skyblue;
$clr-blue-lt: lighten(skyblue, 5%);
$clr-blue-ltr: lighten(skyblue, 10%);
