// if these utilities are not available as classes in your project styles,
// replace these utilities,
// otherwise remove these utilities
@warn "replace / remove utilities";

.u-margin--larger   { margin: 3rem;}
.u-margin--large    { margin: 2rem;}
.u-margin           { margin: 1.5rem;}
.u-margin--small    { margin: 1rem;}
.u-margin--smaller  { margin: .5rem;}
.u-margin--none     { margin: 0;}

.u-padding--larger  { padding: 3rem;}
.u-padding--large   { padding: 2rem;}
.u-padding          { padding: 1.5rem;}
.u-padding--small   { padding: 1rem;}
.u-padding--smaller { padding: .5rem;}
.u-padding--none    { padding: 0;}
