// if these utilities are not available as classes in your project styles,
// replace these utilities,
// otherwise remove these utilities
@warn "replace / remove utilities";

.u-margin--larger                { margin: 3rem;}
.u-margin--larger--top           { margin-top: 3rem;}
.u-margin--larger--right         { margin-right: 3rem;}
.u-margin--larger--bottom        { margin-bottom: 3rem;}
.u-margin--larger--left          { margin-left: 3rem;}
.u-margin--larger--ends          { margin-top: 3rem; margin-bottom: 3rem;}
.u-margin--larger--sides         { margin-left: 3rem; margin-right: 3rem;}

.u-margin--large                { margin: 2rem;}
.u-margin--large--top           { margin-top: 2rem;}
.u-margin--large--right         { margin-right: 2rem;}
.u-margin--large--bottom        { margin-bottom: 2rem;}
.u-margin--large--left          { margin-left: 2rem;}
.u-margin--large--ends          { margin-top: 2rem; margin-bottom: 2rem;}
.u-margin--large--sides         { margin-left: 2rem; margin-right: 2rem;}

.u-margin                { margin: 1.5rem;}
.u-margin--top           { margin-top: 1.5rem;}
.u-margin--right         { margin-right: 1.5rem;}
.u-margin--bottom        { margin-bottom: 1.5rem;}
.u-margin--left          { margin-left: 1.5rem;}
.u-margin--ends          { margin-top: 1.5rem; margin-bottom: 1.5rem;}
.u-margin--sides         { margin-left: 1.5rem; margin-right: 1.5rem;}

.u-margin--small                { margin: 1rem;}
.u-margin--small--top           { margin-top: 1rem;}
.u-margin--small--right         { margin-right: 1rem;}
.u-margin--small--bottom        { margin-bottom: 1rem;}
.u-margin--small--left          { margin-left: 1rem;}
.u-margin--small--ends          { margin-top: 1rem; margin-bottom: 1rem;}
.u-margin--small--sides         { margin-left: 1rem; margin-right: 1rem;}

.u-margin--smaller                { margin: .5rem;}
.u-margin--smaller--top           { margin-top: .5rem;}
.u-margin--smaller--right         { margin-right: .5rem;}
.u-margin--smaller--bottom        { margin-bottom: .5rem;}
.u-margin--smaller--left          { margin-left: .5rem;}
.u-margin--smaller--ends          { margin-top: .5rem; margin-bottom: .5rem;}
.u-margin--smaller--sides         { margin-left: .5rem; margin-right: .5rem;}

.u-margin--none                { margin: 0;}
.u-margin--none--top           { margin-top: 0;}
.u-margin--none--right         { margin-right: 0;}
.u-margin--none--bottom        { margin-bottom: 0;}
.u-margin--none--left          { margin-left: 0;}
.u-margin--none--ends          { margin-top: 0; margin-bottom: 0;}
.u-margin--none--sides         { margin-left: 0; margin-right: 0;}

.u-padding--larger                { padding: 3rem;}
.u-padding--larger--top           { padding-top: 3rem;}
.u-padding--larger--right         { padding-right: 3rem;}
.u-padding--larger--bottom        { padding-bottom: 3rem;}
.u-padding--larger--left          { padding-left: 3rem;}
.u-padding--larger--ends          { padding-top: 3rem; padding-bottom: 3rem;}
.u-padding--larger--sides         { padding-left: 3rem; padding-right: 3rem;}

.u-padding--large                { padding: 2rem;}
.u-padding--large--top           { padding-top: 2rem;}
.u-padding--large--right         { padding-right: 2rem;}
.u-padding--large--bottom        { padding-bottom: 2rem;}
.u-padding--large--left          { padding-left: 2rem;}
.u-padding--large--ends          { padding-top: 2rem; padding-bottom: 2rem;}
.u-padding--large--sides         { padding-left: 2rem; padding-right: 2rem;}

.u-padding                { padding: 1.5rem;}
.u-padding--top           { padding-top: 1.5rem;}
.u-padding--right         { padding-right: 1.5rem;}
.u-padding--bottom        { padding-bottom: 1.5rem;}
.u-padding--left          { padding-left: 1.5rem;}
.u-padding--ends          { padding-top: 1.5rem; padding-bottom: 1.5rem;}
.u-padding--sides         { padding-left: 1.5rem; padding-right: 1.5rem;}

.u-padding--small                { padding: 1rem;}
.u-padding--small--top           { padding-top: 1rem;}
.u-padding--small--right         { padding-right: 1rem;}
.u-padding--small--bottom        { padding-bottom: 1rem;}
.u-padding--small--left          { padding-left: 1rem;}
.u-padding--small--ends          { padding-top: 1rem; padding-bottom: 1rem;}
.u-padding--small--sides         { padding-left: 1rem; padding-right: 1rem;}

.u-padding--smaller                { padding: .5rem;}
.u-padding--smaller--top           { padding-top: .5rem;}
.u-padding--smaller--right         { padding-right: .5rem;}
.u-padding--smaller--bottom        { padding-bottom: .5rem;}
.u-padding--smaller--left          { padding-left: .5rem;}
.u-padding--smaller--ends          { padding-top: .5rem; padding-bottom: .5rem;}
.u-padding--smaller--sides         { padding-left: .5rem; padding-right: .5rem;}

.u-padding--none                { padding: 0;}
.u-padding--none--top           { padding-top: 0;}
.u-padding--none--right         { padding-right: 0;}
.u-padding--none--bottom        { padding-bottom: 0;}
.u-padding--none--left          { padding-left: 0;}
.u-padding--none--ends          { padding-top: 0; padding-bottom: 0;}
.u-padding--none--sides         { padding-left: 0; padding-right: 0;}

