@warn "update / replace components with your project components";

.island--large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.island {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.island--small {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
