@warn "update / replace components with your project components";

.wrap--large {
  margin: 0 auto;
  max-width: 880px;
  padding: 0 1.5rem;
}

.wrap {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 1.5rem;
}

.wrap--small {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 1.5rem;
}
